#!/bin/sh

# Git
alias g="git"
alias ga="git add"
alias gaa="git add --all"
alias gb="git branch"
alias gc="git commit -v"
# alias gc!="git commit -v --amend"
alias gca="git commit v --amend"
alias gco= "checkout"
alias gcp= "git cherry-pick"
alias gd= "git difftool"
alias gfp="git fetch --prune"
alias git="LANG=en git"
alias gl="log --oneline --decorate --color --reverse"
alias glog="git log --oneline --decorate --graph"
alias gm= "git mergetool"
# alias gm="git merge"
# alias gp="git pull"
alias gp="git push"
alias gr="git rebase"
alias gra="git rebase --abort"
alias grc="git rebase --continue"
alias gs="git status"
alias gup= "git fetch origin && git rebase origin/master"

# Neovim replaces Vi/Vim
alias vi=nvim
alias vim=nvim
alias v=nvim
# Bundler aliases
alias b="bundle"
alias be="bundle exec"
alias bi="bundle install"
alias bu="bundle update"
# Rails aliases
alias rs="be rails s"
alias rc="be rails c"
alias rdm="be rake db:migrate"
alias rdr="br rake db:rollback"
# Wget resume by defaut
alias wget='wget -c'
# VSCode
alias vscode="/usr/local/bin/code"
# Code directory
alias code="cd ~/code"
