# Wget resume by defaut
# alias wget='wget -c'
# Neovim replaces Vim
alias vim=nvim
alias v=nvim
# open
# alias open='xdg-open'
# Bundler aliases
alias b="bundle"
alias be="bundle exec"
alias bi="bundle install"
alias bu="bundle update"
# Rails aliases
alias rs="bundle exec rails s"
alias rc="bundle exec rails c"
alias pspec="be rake parallel:spec $1"
# Rbenv aliases
alias re="rbenv exec"
# Docker aliases
alias dco='docker-compose'
alias dcb='docker-compose build'
alias dce='docker-compose exec'
alias dcps='docker-compose ps'
alias dcrestart='docker-compose restart'
alias dcrm='docker-compose rm'
alias dcr='docker-compose run'
alias dcstop='docker-compose stop'
alias dcup='docker-compose up'
alias dcupd='docker-compose up -d'
alias dcdn='docker-compose down'
alias dcl='docker-compose logs'
alias dclf='docker-compose logs -f'
alias dcpull='docker-compose pull'
alias dcstart='docker-compose start'

# Update System
le_update() {
  brew update
  brew upgrade
  brew cask upgrade
  brew cleanup
  # Tmux
  ~/.tmux/plugins/tpm/scripts/update_plugin.sh
  # Neovim
  nvim '+PlugUpgrade' '+PlugUpdate' '+PlugClean!' '+qall'
  # Zim
  sh ~/.zim/tools/zim_update
  # Rbenv plugins
  rbenv update
}

## Teleport shortcuts
alias tlogin="tsh --proxy=decisiv.sh:443 login --auth=okta"

# Ex tlsd builder
tlsd() {
	tsh ls --cluster=decisiv | grep app=$1 | grep -Eo '[^/"]+'
}

# Ex tshd builder-app-dev-1.dev.decisivapps.com
# Ex2 tshd builder-app-dev-1.dev.decisivapps.com tmux a
tshd() {
  tsh ssh --cluster=decisiv developers@$1 $2
}

tshdd() {
  tsh ssh --cluster=decisiv developers@$1.decisivapps.com
}
