[user]
  email = marquez.sergio.d@gmail.com
  name = Sergio D. Márquez
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[core]
  editor = nvim
  excludesfile = ~/.global_gitignore
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[commit]
  ; gpgSign = true
  verbose = true
[difftool]
  prompt = false
[difftool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[fetch]
  prune = true
[merge]
  summary = true
  tool = vimdiff
  ; ff = only
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED  -c '$wincmd w' -c 'wincmd J'
[rebase]
  autosquash = true
[advice]
  statusHints = false
[push]
  config = default
  default = tracking
[rebase]
  autoSquash = true
  ; autoStash = true
[blame]
  date = short
[alias]
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  undo    = reset --soft HEAD^
  unstage = reset HEAD
