[user]
	name = Sergio D. Márquez
	email = marquez.sergio.d@gmail.com
[color]
  ui = true
[core]
	excludesfile = ~/.gitignore
  editor = nvim
	attributesfile = /Users/sergio/.gitattributes
  pager = cat
  mergeoptions = --no-edit # don't prompt for message for merge commits.
  commitGraph = true
[commit]
  ; gpgSign = true
	verbose = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[difftool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[log]
  decorate = auto
  abbrevCommit = true
[merge]
	ff = only
	tool = vimdiff
[mergetool]
  prompt = false
	keepBackup = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED  -c '$wincmd w' -c 'wincmd J'
[fetch]
  prune = true
[push]
	default = current
[rebase]
  autoStash = true
  autoSquash = true
[status]
	rebase = false
[alias]
  d       = difftool
  m       = mergetool
  aa      = add --all
  ca      = commit --amend
  co      = checkout
  cp      = cherry-pick
  st      = status
  undo    = reset --soft HEAD^
  unstage = reset HEAD
  up      = !git fetch origin && git rebase origin/master
  l       = log --oneline --decorate --color
  la      = !git config -l | grep alias | cut -c 7-
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[pull]
  rebase = true
  ff = only
[blame]
	date = short
