# Mac stuff
.DS_Store

# Tag files
tags
!tags/
tags.lock
tags.temp

# Libreoffice lock files
.~lock.*#

# Editor configurations
.vim/
.vscode/

# Solargraph configs
.solargraph.yml

# Solargraph rails config
#https://github.com/castwide/solargraph/issues/87
config/solargraph.rb
