[user]
  name  = Sergio D. Márquez
  email = marquez.sergio.d@gmail.com
[github]
  user = smarquez1
[alias]
  d              = difftool
  m              = mergetool
  aa             = add --all
  ca             = commit --amend -v
  co             = checkout
  cleanup        = "!git branch --merged | grep -v -P '^\\*|master|develop' | xargs -n1 -r git branch -d"
  fcleanup       = "!git branch | grep -v "master" | xargs git branch -D" 
  commit = commit -v
  cp             = cherry-pick
  st             = status
  undo-commit    = reset --soft HEAD^
  unstage        = reset HEAD
  up             = !git fetch origin && git rebase origin/master
  l              = log --oneline --decorate --color
  la             = "!git config -l | grep alias | cut -c 7-"
[core]
	excludesfile = ~/.gitignore
  editor = nvim
[diff]
  prompt = false
  tool = vimdiff
[merge]
	ff = only
  tool = vimdiff
[difftool]
  prompt = false
[mergetool "vimdiff"]
  cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[push]
	default = current
  followTags = true
[rebase]
	autosquash = true
