# Load any helper scripts as defined here
zmodules=(archive autosuggestions completion directory environment fasd git \
          git-info history history-substring-search input prompt ssh \
          syntax-highlighting utility)

# Input
zdouble_dot_expand='true'
zinput_mode='vi'

# Prompt
zprompt_theme='gitster'

# Syntax-Highlighting
zhighlighters=(main brackets cursor root)

# SSH
# Load these ssh identities
zssh_ids=(id_rsa)
