# Load any helper scripts as defined here
zmodules=(completion archive autosuggestions directory environment git \
          git-info history syntax-highlighting input ssh utility \
          history-substring-search)

# Input
zinput_mode='vi'
zdouble_dot_expand='true'

# Syntax-Highlighting
zhighlighters=(main brackets cursor root)

# SSH
# Load these ssh identities
zssh_ids=(id_rsa)
